In [2]:
#pandas is a library and it contains the functions related to the database
import pandas as pd
dataset=pd.read_csv("Salary_Data.csv")#dataset is a variable used to read the csv file from pandas library and assigned to the dataset variable.
#it is a data preprocessing

In [3]:
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [9]:
#independent is the input data
independent=dataset[["YearsExperience"]]#This is a Spliting the Input Data and Output Data
#dependent is the output data
dependent=dataset[["Salary"]]

In [10]:
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [11]:
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [25]:
from sklearn.model_selection import train_test_split #train_test_split library is used to import from sklearn.linear_model
X_Troin, X_Test, Y_Train, Y_Test=train_test_split(independent, dependent, test_size=0.30,random_state=0)#Separating Train Data and Test Data

In [22]:
X_Troin, X_Test, Y_Train, Y_Test

(    YearsExperience
 22              7.9
 5               2.9
 16              5.1
 8               3.2
 14              4.5
 23              8.2
 20              6.8
 1               1.3
 29             10.5
 6               3.0
 4               2.2
 18              5.9
 19              6.0
 9               3.7
 7               3.2
 25              9.0
 3               2.0
 0               1.1
 21              7.1
 15              4.9
 12              4.0,
     YearsExperience
 2               1.5
 28             10.3
 13              4.1
 10              3.9
 26              9.5
 24              8.7
 27              9.6
 11              4.0
 17              5.3,
       Salary
 22  101302.0
 5    56642.0
 16   66029.0
 8    64445.0
 14   61111.0
 23  113812.0
 20   91738.0
 1    46205.0
 29  121872.0
 6    60150.0
 4    39891.0
 18   81363.0
 19   93940.0
 9    57189.0
 7    54445.0
 25  105582.0
 3    43525.0
 0    39343.0
 21   98273.0
 15   67938.0
 12   56957.0,
       Salary
 2    37731.0
 28  122391.0
 13   57081.0
 10   63218.0
 26  116969.0
 24  109431.0
 27  112635.0
 11   55794.0
 17   83088.0)

In [46]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_Troin,Y_Train)#This is used to Model Creation and Learning Process of the Artificial Brain
#This is used to find the Linear Regression Formula y=wx+b w-weight of the model and b is the origin of the model
weight=regressor.coef_#Finding the Weight of the Model]
print('Weight {}'.format(weight))

Weight [[9360.26128619]]

In [47]:
bias=regressor.intercept_#Finding the Slope of the Model
print('Bias {}'.format(bias))

Bias [26777.3913412]

In [49]:
y_pred=regressor.predict(X_test)
print('Y_Pred {}'.format(y_pred))

Y_Pred [[ 40817.78327049]
 [123188.08258899]
 [ 65154.46261459]
 [ 63282.41035735]
 [115699.87356004]
 [108211.66453108]
 [116635.89968866]
 [ 64218.43648597]
 [ 76386.77615802]]

In [51]:
from sklearn.metrics import r2_score # this library is used to import r2_score function
r_score=r2_score(y_test,y_pred)# this is used to predict the r_score using actual output, predicted output
print('R Score {}'.format(r_score))

R Score 0.9740993407213511

In [57]:
import pickle # This Library is used to import all functions in pickle library
filename="finalized_model_linear.sav"
pickle.dump(regressor,open(filename,'wb'))#this is used for Saving the Best Model, wb means write binary
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))#this is used for Reading the Best Model rb means read binary
result=loaded_model.predict([[12]])#this is used to predict the loaded model to test

C:\Users\W3TECH\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [58]:
print("Predicted Output for the input 12 ",result)

Predicted Output for the input 12  [[139100.52677552]]

In [59]:
result=loaded_model.predict([[0]])#this is used to predict the loaded model to test

C:\Users\W3TECH\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [60]:
print("Predicted Output for the input 0 ",result)

Predicted Output for the input 0  [[26777.3913412]]